.layout {
  display: flex;
  background: #ffffff;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #dbdbdb;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 12px;
  background-color: #fff;
}

.right {
  margin-left: 250px;
  width: calc(100% - 250px);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 35px 40px;
  background: #fff;
}
