.layout {
  display: grid;
  grid-template-columns: clamp(72px, 18vw, 244px) minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background-color: #fafafa;
}


.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-right: 1px solid #dbdbdb;
  padding: 16px 12px 0;
  
}


.right {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px 0 0px 0; 
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  max-width: none;
  margin: 0;
}


.footerWrapper {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  padding: 24px 16px 32px;
}