.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 30px;
}

.icon {
  width: 96px;
  height: 96px;
  margin: 0px auto 20px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 8px;
}

.text {
  font-size: 14px;
  color: #737373;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.4;
}

.divider {
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 50px 10px 20px 10px;
  font-size: 12px;
  color: #8e8e8e;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.divider p {
    margin-top: 0;
    color: #737373
}

.createLink {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #262626;
  text-decoration: none;
  margin-bottom: 70px;
}