.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 5px;
    max-width: 350px;
}


.input label {
    font-size: 12px;
    color: #555;
}

.input input {
    width: 100%;
    padding: 9px 8px;
    font-size: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: #fafafa;
}


.input input:focus {
    border-color: #3182f6;
    outline: none;
}


.input input::placeholder {
    color: #aaa;
}

.error input {
    border-color: #ff4d4f !important;
}

.errorMessage {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
}