.form {
  width: 100%;
  max-width: 4px;
  padding: 20px 30px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.divider p {
  font-size: 12px;
  font-weight: 600;
  color: #737373;
}

.forgot {
  margin-left: 80px;
  text-align: center;
  border: none;
  background: none;
  font-size: 12px;
  margin-top: -10px;
  color: #00376b;
  cursor: pointer;
  padding-bottom: 20px;
}

.forgot:hover {
  text-decoration: underline;
}
