@import "./fonts.css";
@import "./reset.css";
@import "./variables.css";


html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
}