.container {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 40px 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.infoText {

  margin-top: 8px;
  font-size: 14px;
}

.errorText {
  
  margin-top: 4px;
  color: red;
  font-size: 14px;
}