
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #737373;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.3;
}

.textBlock {
  font-size: 12px;
  color: #8e8e8e;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.4;
}

.more {
  color: #115799;
  text-decoration: none;
  font-weight: 600;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
}