.container {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 40px 20px;
}

.right {
  flex: 0 0 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container>img {
  flex: 0 0 380px;
  width: min(50%, 380px);
  height: auto;
  flex-shrink: 1;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
  }

  .container>img {
    max-width: 450px;
    width: 100%;
  }

  .right {
    width: 100%;
    max-width: 350px;
  }
}