.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  width: 100%;
  height: 100vh;

  padding: 20px;
  background-color: #ffffff;
}


.container img {
  max-width: 380px;
  height: auto;
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding-top: 40px;
  }

  .container img {
    max-width: 260px;
  }
}