.footer {
  padding: 30px 0;
  text-align: center;
  color: #8e8e8e;
  font-size: 13px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}

.footerLink {
  color: #8e8e8e;
  text-decoration: none;
  font-size: 13px;
}

.footerLink:hover {
  text-decoration: underline;
}

.copy {
  margin-top: 10px;
}