.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.avatar--sm {
  width: 24px;
  height: 24px;
}

.avatar--md {
  width: 32px;
  height: 32px;
}

.avatar--lg {
  width: 40px;
  height: 40px;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}