.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Größen */
.avatar--sm {
  width: 24px;
  height: 24px;
}

.avatar--md {
  width: 32px;
  height: 32px;
}

.avatar--lg {
  width: 48px;
  height: 48px;
}

.avatar--xl {
  width: 64px;
  height: 64px;
}
