.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}


.avatar--sm {
  width: 24px;
  height: 24px;
}

.avatar--md {
  width: 32px;
  height: 32px;
}

.avatar--lg {
  width: 40px;
  height: 40px;
}
.avatar--profile { width: 144px; height: 144px; }

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}