.container {
    width: 100%;
    max-width: 350px;
    border: 1px solid #dbdbdb;
    background: #fff;
    padding-top: 30px;
    border-radius: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

