.authLinkDiv {
  width: 100%;
  max-width: 350px;
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px 30px;
  border-radius: none;
  text-align: center;
  margin-top: 5px;
}

.authLinkDiv a {
  color: #0095f6;
  font-weight: 600;
  margin-left: 3px;
  font-size: 14px;
}

.authLinkDiv a:hover {
  text-decoration: underline;
}

.text {
    font-size: 14px;
}