.authLinkDiv {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.authLinkDiv a {
    color: #3182f6;
    font-weight: 500;
    text-decoration: none;
}


.authLinkDiv a:hover {
    text-decoration: underline;
}