.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 350px;
}

.backBox {
  margin-top: 0px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  text-align: center;
  padding: 12px 0;
}

.backLink {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
}